@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/images/stack.png" />
    <title>@ViewData["Title"] - Stackoverflow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StackOverFlow.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="maindiv container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <img src="~/images/stk.png" class="card-img-top mainimg" />
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">OverflowAi</a>
                        </li>
                        <li class="nav-item">
                            <input type="Input" placeholder="search..." class="btnsearch form-control nav-link text-dark" />
                        </li>
                    </ul>
                    &nbsp;&nbsp;
                    <ul class="navbar-nav ml-auto">
                        @if(signInManager.IsSignedIn(User))
                        {
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link text-dark">@User.Identity.Name</a>
                                </li>
                                &nbsp;
                                <li class="nav-item">
                                    <a class="btn btn-primary" asp-controller="Account" asp-action="Logout">Logout</a>
                                </li>
                            </ul>      
                        }
                        else
                        {
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login">Login</a>
                                </li>
                                &nbsp;
                                <li class="nav-item">
                                    <a class="btn btn-primary" asp-controller="Account" asp-action="Register">SignUp</a>
                                </li>
                            </ul>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="d-flex flex-grow-1">
        <div class="div1">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item"> <a class="bi bi-house-fill nav-link text-dark" asp-controller="Questions" asp-action="TopQuestions"> Home</a> </li>
                <li class="nav-item"> <a class="bi bi-chat-left-fill nav-link text-dark" asp-controller="Questions" asp-action="DisplayQuestions"> Questions</a></li>
                <li class="nav-item"> <a class="bi bi-tags-fill  nav-link text-dark" asp-controller="Home" asp-action="Home"> Tags</a></li>
                <br />
                <li class="nav-item"> <a class="bi bi-bookmark-fill  nav-link text-dark" asp-controller="Home" asp-action="Home"> Saves</a></li>
                <li class="nav-item"> <a class="bi bi-people-fill nav-link text-dark" asp-controller="Home" asp-action="Home"> Users</a></li>
                <li class="nav-item"> <a class="bi bi-buildings-fill  nav-link text-dark" asp-controller="Home" asp-action="Home"> Companies</a></li>
                <br />
                <li class="d-sm-inline-flex"><strong>Labs</strong> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-info-circle-fill"></i></li>
                <li class="nav-item"> <a class="bi bi-briefcase-fill nav-link text-dark" asp-controller="Home" asp-action="Home"> Jobs</a></li>
                <li class="nav-item"> <a class="bi bi-chat-left-text nav-link text-dark" asp-controller="Home" asp-action="Home"> Discussions</a></li>
            </ul>
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <div class="bg-black" style="height:300px;width:100%;">
        &copy; 2024 - StackOverFlow - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
