@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="navbar-nav ml-auto">
        <div class="nav-item">
            <a asp-action="askquestion" asp-controller="Questions" class="btn btn-primary">Ask Question</a>
        </div>  
    </div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
