@{
	ViewData["Title"] = "Home Page";
}

<div>
	<div class="row">
		<div class="col-sm">
			<h2>Every <span style="color:orangered">developer</span> has a tab open to Stack Overflow.</h2>
			<p>For over 15 years we’ve been the Q&A platform of choice that millions of people visit every month to ask questions, learn, and share technical knowledge.</p>
		</div>
		<div class="col-sm">
			<img src="~/images/stack_home_hero.png" class="Indeximg"/>
		</div>
	</div>
</div>
